{include file="public/header" title="用户登录"/}
<link href="__static__/css/login.min.css" rel="stylesheet">
<script src="__static__/js/plugins/validate/jquery.validate.min.js"></script>
<script src="__static__/js/plugins/validate/messages_zh.min.js"></script>
<script src="__static__/js/plugins/validate/jquery.form.js"></script>
<link href="__static__/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<script src="__static__/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    if(window.top!==window.self){window.top.location=window.location};
</script>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">news</h1>

            </div>
            <h3>欢迎使用 新闻资讯后台</h3>

            <form method="post" action="{:url('login/login')}" id='loginform' name="form">
               <input type="text" class="form-control uname" placeholder="用户名"  name="username"/>
                <input type="password" class="form-control pword m-b" placeholder="密码"  name="password"/>
                <input type="text" class="form-control uname m-b" placeholder="验证码"  name="captcha"/>
                <img alt="" src="{:captcha_src()}" id='code'>
                <button class="btn btn-primary block full-width m-b">登录</button>
            </form>
            </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $("img[id='code']").click(function(){
                var src=$("img[id='code']");
                src.attr('src',src.attr('src')+'?'+new Date().getTime);
            });

            $("#loginform").validate({
                rules:{
                    username:{
                        required:true,
                        maxlength:16,
                    },
                    password:{
                        required:true,
                        maxlength:16
                    },
                    captcha:{
                        required:true,
                        maxlength:16
                    },
                },
                messages: {
                    username: {
                        required: "请输入用户名",
                    },
                    password: {
                        required: "请输入密码",
                    },
                    captcha: {
                        required: "请输入验证码",
                    },
                },
                onkeyup:false,
                focusCleanup:true,
                submitHandler:function(form){
                    $(form).ajaxSubmit({success: function(data){
                            if(data.code==200){
                                swal({
                                    title: "登录成功！",
                                    text: "正在跳转...",
                                    type: "success",
                                    timer: 2000,
                                }, function () {
                                    window.location=data.url;
                                });
                            }else{
                                sweetAlert("哎呦……", data.msg,"error");
                            }
                        }});
                }
            });

        })
    </script>
    <script type="text/javascript">
    </script>

</body>
</html>
